/*-------------------------------------------------------*/
/* Table of Content

1. General
2. Typography
3. Navigation
4. Layout
5. Blog
6. Portfolio
7. Shortcodes
8. Footer
9. Responsive

/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/* General
/*-------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.clear {
  clear: both;
}

.oh {
  overflow: hidden;
}

.ov {
  overflow: visible;
}

.relative {
  position: relative;
}

.section-wrap {
  padding: 120px 0;
  overflow: hidden;
  background-attachment: fixed;
  background-size: cover;
}

.section-wrap-lg {
  padding: 170px 0;
}

.section-wrap-md {
  padding: 100px 0;
}

.main-container {
  margin: auto;
}

@media (min-width: 1600px) {
  .grid-1440 .main-container,
  .grid-1440 .container {
    width: 1440px;
  }
}

.mobile section {
  background-attachment: scroll !important;
}

.bg-dark {
  background-color: #171717;
}

.bg-light {
  background-color: #fafafa;
}

.bg-white {
  background-color: #fff;
}

.bg-color {
  background-color: #23abc4;
}

.white {
  color: #fff;
}

.static {
  position: static;
}

.block {
  display: block;
}

.left {
  float: left;
}

.right {
  float: right;
}

.valign {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.container-fluid.semi-fluid {
  padding: 0 40px;
}

.img-fw {
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.last {
  margin-bottom: 0 !important;
}

@media (max-width: 991px) {
  .md-text-center {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .sm-text-center {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .xs-text-center {
    text-align: center;
  }
}

img.alignleft {
  float: left;
  margin: 10px 20px 10px 0;
}

img.alignright {
  float: right;
  margin: 10px 0 10px 20px;
}

.animation-wrap {
  overflow: hidden;
}

::-moz-selection {
  color: #fff;
  background-color: #171717;
}

::-webkit-selection {
  color: #fff;
  background-color: #171717;
}

::selection {
  color: #fff;
  background-color: #171717;
}

:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Hind", sans-serif;
  font-size: 17px;
  line-height: 1.5;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  background: #fff;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  color: #929292;
}

body img {
  border: none;
  max-width: 100%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

video {
  height: 100%;
  width: 100%;
}

iframe {
  border: 0;
}

/*-------------------------------------------------------*/
/* Preloader
/*-------------------------------------------------------*/
.loader-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99999;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 5px;
  width: 5em;
  height: 5em;
  margin: -25px 0 0 -25px;
  text-indent: -9999em;
  border-top: 0.5em solid #2b2b2b;
  border-right: 0.5em solid rgba(245, 245, 245, 0.5);
  border-bottom: 0.5em solid rgba(245, 245, 245, 0.5);
  border-left: 0.5em solid rgba(245, 245, 245, 0.5);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Scroll Down icon
-------------------------------------------------------*/
.scroll-down {
  font-size: 16px;
  width: 38px;
  height: 38px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  line-height: 38px;
  z-index: 50 !important;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -19px;
  border-radius: 50%;
}

.scroll-down.bottom-140 {
  bottom: 140px;
}

@media only screen and (max-width: 767px) {
  .scroll-down.bottom-140 {
    bottom: 80px;
  }
}

.scroll-down a {
  line-height: 38px;
  position: relative;
  z-index: 50 !important;
}

.scroll-down i {
  color: #fff;
  -webkit-animation: scroll-down-icon 1s infinite;
  -moz-animation: scroll-down-icon 1s infinite;
  -o-animation: scroll-down-icon 1s infinite;
  animation: scroll-down-icon 1s infinite;
  position: absolute;
  left: 13px;
  font-size: 20px;
}

@-webkit-keyframes scroll-down-icon {
  0% {
    bottom: 3px;
  }
  50% {
    bottom: 8px;
  }
  100% {
    bottom: 3px;
  }
}

@-moz-keyframes scroll-down-icon {
  0% {
    bottom: 3px;
  }
  50% {
    bottom: 8px;
  }
  100% {
    bottom: 3px;
  }
}

@-o-keyframes scroll-down-icon {
  0% {
    bottom: 3px;
  }
  50% {
    bottom: 8px;
  }
  100% {
    bottom: 3px;
  }
}

@keyframes scroll-down-icon {
  0% {
    bottom: 3px;
  }
  50% {
    bottom: 8px;
  }
  100% {
    bottom: 3px;
  }
}

.row.row-4 {
  margin: 0 -2px;
}

.row.row-4 > div {
  padding: 0 2px;
}

.row.row-10 {
  margin: 0 -5px;
}

.row.row-10 > div {
  padding: 0 5px;
}

.row.row-12 {
  margin: 0 -6px;
}

.row.row-12 > div {
  padding: 0 6px;
}

.row.row-16 {
  margin: 0 -8px;
}

.row.row-16 > div {
  padding: 0 8px;
}

.row.row-20 {
  margin: 0 -10px;
}

.row.row-20 > div {
  padding: 0 10px;
}

/* Magnific Popup
-------------------------------------------------------*/
.mfp-bg, .mfp-wrap {
  position: fixed;
  left: 0;
  top: 0;
}

.mfp-bg, .mfp-container, .mfp-wrap {
  height: 100%;
  width: 100%;
}

.mfp-container:before, .mfp-figure:after {
  content: '';
}

.mfp-bg {
  z-index: 1250;
  overflow: hidden;
  background: #0b0b0b;
  opacity: .8;
  filter: alpha(opacity=80);
}

.mfp-wrap {
  z-index: 1251;
  outline: 0 !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mfp-container:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-close, .mfp-preloader {
  text-align: center;
  position: absolute;
}

.mfp-ajax-holder .mfp-content, .mfp-inline-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-arrow, .mfp-close, .mfp-counter, .mfp-preloader {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #CCC;
  top: 50%;
  width: auto;
  margin-top: -.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

.mfp-preloader a {
  color: #CCC;
}

.mfp-close, .mfp-preloader a:hover {
  color: #FFF;
}

.mfp-s-error .mfp-content, .mfp-s-ready .mfp-preloader {
  display: none;
}

button.mfp-arrow, button.mfp-close {
  overflow: visible;
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: 0;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  right: 0;
  top: 0;
  text-decoration: none;
  opacity: .65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  font-style: normal;
  font-size: 28px;
  font-family: Arial,Baskerville,monospace;
}

.mfp-close:focus, .mfp-close:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.mfp-close:active {
  top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #333;
}

.mfp-iframe-holder .mfp-close, .mfp-image-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

.mfp-figure, img.mfp-img {
  line-height: 0;
}

.mfp-arrow {
  position: absolute;
  opacity: .65;
  filter: alpha(opacity=65);
  margin: -55px 0 0;
  top: 50%;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
  margin-top: -54px;
}

.mfp-arrow:focus, .mfp-arrow:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.mfp-arrow .mfp-a, .mfp-arrow .mfp-b, .mfp-arrow:after, .mfp-arrow:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: inset transparent;
}

.mfp-arrow .mfp-a, .mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}

.mfp-arrow .mfp-b, .mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: .7;
}

.mfp-arrow-left {
  left: 0;
}

.mfp-arrow-left .mfp-a, .mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px;
}

.mfp-arrow-left .mfp-b, .mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F;
}

.mfp-arrow-right {
  right: 0;
}

.mfp-arrow-right .mfp-a, .mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px;
}

.mfp-arrow-right .mfp-b, .mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}

.mfp-image-holder .mfp-content, img.mfp-img {
  max-width: 100%;
}

.mfp-iframe-holder .mfp-close {
  top: -40px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

.mfp-figure:after, img.mfp-img {
  width: auto;
  height: auto;
  display: block;
}

img.mfp-img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0;
  margin: 0 auto;
}

.mfp-figure:after {
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  right: 0;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444;
}

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

.mfp-figure figure {
  margin: 0;
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}

.mfp-ie7 .mfp-img {
  padding: 0;
}

.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px;
}

.mfp-ie7 .mfp-container {
  padding: 0;
}

.mfp-ie7 .mfp-content {
  padding-top: 44px;
}

.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

/* Row multiple items
-------------------------------------------------------*/
.items-grid .col-xs-6:nth-child(2n + 3) {
  clear: left;
}

.items-grid .col-xs-4:nth-child(3n + 4) {
  clear: left;
}

.items-grid .col-xs-3:nth-child(4n + 5) {
  clear: left;
}

.items-grid .col-xs-2:nth-child(6n + 7) {
  clear: left;
}

.items-grid .col-xs-1:nth-child(12n + 13) {
  clear: left;
}

@media (min-width: 768px) {
  .items-grid .col-xs-6:nth-child(2n + 3) {
    clear: none;
  }
  .items-grid .col-xs-4:nth-child(3n + 4) {
    clear: none;
  }
  .items-grid .col-xs-3:nth-child(4n + 5) {
    clear: none;
  }
  .items-grid .col-xs-2:nth-child(6n + 7) {
    clear: none;
  }
  .items-grid .col-xs-1:nth-child(12n + 13) {
    clear: none;
  }
  .items-grid .col-sm-6:nth-child(2n + 3) {
    clear: left;
  }
  .items-grid .col-sm-4:nth-child(3n + 4) {
    clear: left;
  }
  .items-grid .col-sm-3:nth-child(4n + 5) {
    clear: left;
  }
  .items-grid .col-sm-2:nth-child(6n + 7) {
    clear: left;
  }
  .items-grid .col-sm-1:nth-child(12n + 13) {
    clear: left;
  }
}

@media (min-width: 992px) {
  .items-grid .col-sm-6:nth-child(2n + 3) {
    clear: none;
  }
  .items-grid .col-sm-4:nth-child(3n + 4) {
    clear: none;
  }
  .items-grid .col-sm-3:nth-child(4n + 5) {
    clear: none;
  }
  .items-grid .col-sm-2:nth-child(6n + 7) {
    clear: none;
  }
  .items-grid .col-sm-1:nth-child(12n + 13) {
    clear: none;
  }
  .items-grid .col-md-6:nth-child(2n + 3) {
    clear: left;
  }
  .items-grid .col-md-4:nth-child(3n + 4) {
    clear: left;
  }
  .items-grid .col-md-3:nth-child(4n + 5) {
    clear: left;
  }
  .items-grid .col-md-2:nth-child(6n + 7) {
    clear: left;
  }
  .items-grid .col-md-1:nth-child(12n + 13) {
    clear: left;
  }
}

@media (min-width: 1200px) {
  .items-grid .col-md-6:nth-child(2n + 3) {
    clear: none;
  }
  .items-grid .col-md-4:nth-child(3n + 4) {
    clear: none;
  }
  .items-grid .col-md-3:nth-child(4n + 5) {
    clear: none;
  }
  .items-grid .col-md-2:nth-child(6n + 7) {
    clear: none;
  }
  .items-grid .col-md-1:nth-child(12n + 13) {
    clear: none;
  }
  .items-grid .col-lg-6:nth-child(2n + 3) {
    clear: left;
  }
  .items-grid .col-lg-4:nth-child(3n + 4) {
    clear: left;
  }
  .items-grid .col-lg-3:nth-child(4n + 5) {
    clear: left;
  }
  .items-grid .col-lg-2:nth-child(6n + 7) {
    clear: left;
  }
  .items-grid .col-lg-1:nth-child(12n + 13) {
    clear: left;
  }
}

/* 5 columns
-------------------------------------------------------*/
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 767px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}

/* Hover Overlays
-------------------------------------------------------*/
.hover-overlay {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hover-overlay.light {
  background-color: rgba(255, 255, 255, 0.9);
}

.hover-trigger:hover .hover-overlay {
  opacity: 1;
  visibility: visible;
}

[data-overlay="1"] {
  background-color: rgba(25, 25, 25, 0.1);
}

[data-overlay="2"] {
  background-color: rgba(25, 25, 25, 0.2);
}

[data-overlay="3"] {
  background-color: rgba(25, 25, 25, 0.3);
}

[data-overlay="4"] {
  background-color: rgba(25, 25, 25, 0.4);
}

[data-overlay="5"] {
  background-color: rgba(25, 25, 25, 0.5);
}

[data-overlay="6"] {
  background-color: rgba(25, 25, 25, 0.6);
}

[data-overlay="7"] {
  background-color: rgba(25, 25, 25, 0.7);
}

[data-overlay="8"] {
  background-color: rgba(25, 25, 25, 0.8);
}

[data-overlay="9"] {
  background-color: rgba(25, 25, 25, 0.9);
}

[data-overlay="10"] {
  background-color: #191919;
}

/* List Items
-------------------------------------------------------*/
.list-dividers > li {
  position: relative;
  padding: 9px 0;
  border-bottom: 1px solid #eaeaea;
}

.list-no-dividers > li {
  position: relative;
  padding: 7px 0 !important;
}

/*-------------------------------------------------------*/
/* Typography
/*-------------------------------------------------------*/
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  margin-top: 0;
  color: #212121;
  font-weight: 600;
  letter-spacing: -0.03em;
  line-height: 1.2;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  color: inherit;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: #212121;
  font-size: 85%;
  font-weight: bold;
}

.heading {
  position: relative;
  margin-bottom: 0;
}

.heading.large {
  font-size: 42px;
}

.heading-row {
  margin-bottom: 70px;
}

a {
  text-decoration: none;
  color: #000;
  outline: none;
  -webkit-transition: color 0.1s ease-in-out;
  -moz-transition: color 0.1s ease-in-out;
  -ms-transition: color 0.1s ease-in-out;
  -o-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}

a:hover, a:focus {
  text-decoration: none;
  color: #171717;
  outline: none;
}

.underline {
  border-bottom: 1px solid #eaeaea;
}

.underline:hover {
  border-color: #171717;
}

b, strong {
  color: #212121;
}

.lead-heading.white strong {
  color: #fff;
}

p {
  font-size: 17px;
  color: #929292;
  font-weight: normal;
  line-height: 31px;
}

.list-inline {
  margin: 0;
}

.bottom-line:after {
  content: "";
  display: block;
  width: 50px;
  border-bottom: 3px solid #23abc4;
  margin: 22px auto 0;
  z-index: 1;
  position: relative;
}

.bottom-line.left-align:after {
  margin: 22px auto 22px 0;
}

.bottom-line.grey:after {
  border-color: #e4e4e4;
}

.bottom-line.full-grey:after {
  width: 100%;
  border-color: #eaeaea;
  margin-top: 16px;
}

@media (min-width: 768px) {
  .lead {
    font-size: 18px;
  }
}

.lead {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

p.large {
  font-size: 120%;
  line-height: 1.8;
}

.fsz-50 {
  font-size: 50px;
}

.fsz-16 {
  font-size: 16px;
}

blockquote {
  padding: 10px 0 10px 40px;
  margin: 0;
  border-left: 3px solid #e5e5e5;
}

blockquote > p {
  font-size: 17px;
  line-height: 30px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 7px !important;
  color: #929292;
  position: relative;
}

blockquote > span {
  color: #212121;
  font-size: 14px;
}

.highlight {
  padding: 3px 5px;
  color: #fff;
  background-color: #23abc4;
}

.list li {
  line-height: 24px;
  position: relative;
}

.list li i {
  line-height: 21px;
}

.bullets li,
.arrows li,
.checks li,
.numbers li {
  margin-bottom: 20px;
  color: #929292;
}

.bullets li {
  padding-left: 15px;
}

.bullets li:before {
  content: "\2022";
  font-size: 18px;
  position: absolute;
  left: 0;
  color: #23abc4;
}

.arrows i {
  margin-right: 5px;
}

.arrows i,
.checks i {
  color: #23abc4;
}

.checks i {
  font-size: 12px;
  margin-right: 7px;
  vertical-align: middle;
}

ol.numbers {
  padding-left: 20px;
}

.section-columns p {
  margin-bottom: 40px;
}

/*-------------------------------------------------------*/
/* Navigation
/*-------------------------------------------------------*/
@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-left, .navbar-nav, .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.navbar {
  margin-bottom: 0;
  height: 100%;
  border: none;
  min-height: 60px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 120;
}

.navigation {
  width: 100%;
  line-height: 0;
}

.navigation-overlay {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.logo-container {
  float: left;
}

.logo-wrap {
  display: table;
  width: 100%;
}

.logo-wrap > a {
  display: table-cell;
  vertical-align: middle;
  height: 100px;
}

.logo,
.logo-dark {
  max-height: 25px;
}

.navbar-header {
  padding-right: 15px;
}

.navbar-nav {
  margin: 0;
  display: inline-block;
  float: none;
  width: 100%;
  margin-top: 120px;
}

.navbar-nav > li,
.navbar-nav .social-icons a {
  float: none;
}

.navbar-nav > li > a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: -0.03em;
  color: #929292;
  font-size: 17px;
  padding: 11px 0;
  line-height: 1;
}

.navbar-nav > li > a:hover {
  color: #212121;
}

.navbar-nav > .active > a {
  color: #212121;
}

.navbar-nav > li:last-child > a {
  padding-right: 0;
}

.navbar-collapse {
  border: none;
  padding-left: 0;
  padding-right: 0;
  max-height: 100% !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}

.navbar-collapse.in {
  overflow-x: hidden;
}

.navbar-nav > .open > a,
.navbar-nav > .open > a:focus,
.navbar-nav > .open > a:hover {
  background-color: transparent;
  color: #23abc4;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover,
.nav > li > a:focus,
.nav > li > a:hover {
  background-color: transparent;
  border-color: #eaeaea;
  text-decoration: none;
}

/* Navigation Toggle
-------------------------------------------------------*/
.navbar-toggle {
  margin: 0;
  border: none;
  z-index: 50;
  top: 13px;
  padding-right: 0;
}

.navbar-toggle .icon-bar {
  background-color: #212121;
  width: 18px;
}

.navbar-toggle:focus .icon-bar, .navbar-toggle:hover .icon-bar {
  background-color: #212121;
}

.navbar-toggle:focus, .navbar-toggle:hover {
  background-color: transparent;
}

.dark-bg .navbar-toggle .icon-bar {
  background-color: #fff;
}

/* Nav Side Icon
-------------------------------------------------------*/
.nav-icon-wrap {
  position: relative;
  margin-left: 15px;
  padding-right: 15px;
}

#nav-icon {
  display: table;
  width: 16px;
  height: 20px;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#nav-icon .nav-icon-inner {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 300;
}

#nav-icon .nav-icon-trigger {
  height: 20px;
  display: block;
  position: relative;
  top: 3px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #212121;
  opacity: 1;
  left: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2), #nav-icon span:nth-child(3) {
  top: 5px;
}

#nav-icon span:nth-child(4) {
  top: 10px;
}

#nav-icon.opened span:nth-child(1),
#nav-icon.opened span:nth-child(4) {
  top: 6px;
  width: 0%;
  left: 50%;
}

#nav-icon.opened span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.opened span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.opened {
  position: relative;
  z-index: 502;
}

.mobile .main-wrapper.opened {
  cursor: pointer;
}

/*-------------------------------------------------------*/
/* Nav Type-1 (Left Nav)
/*-------------------------------------------------------*/
.content-wrap {
  margin-left: 320px;
  position: relative;
  width: auto;
}

.container {
  max-width: 100%;
}

.header-wrap {
  width: 320px;
  height: 100%;
  background-color: #fafafa;
  padding: 70px 75px;
  display: inline-block;
  float: left;
  overflow-y: auto;
}

.logo-wrap > a {
  height: auto;
}

.nav-type-1 {
  position: fixed;
  left: -320px;
  z-index: 500;
  height: 100%;
  -webkit-transition: all 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: all 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -ms-transition: all 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.nav-type-1.opened {
  left: 0;
}

.nav-type-1 .social-icons {
  position: absolute;
  bottom: 60px;
}

@media (max-height: 960px) {
  .nav-type-1 .social-icons {
    position: static;
    margin-top: 100px;
  }
}

.navbar-header,
.logo-container {
  width: 100%;
}

.navbar-header {
  padding: 0;
}

.nav-item-submenu li a {
  display: block;
  padding: 8px 0;
  line-height: 1;
  color: #929292;
  font-size: 15px;
}

.nav-item-submenu li a:hover {
  color: #212121;
}

#nav-trigger {
  height: 100%;
  width: 80px;
  background-color: #fff;
  display: inline-block;
  float: left;
  position: relative;
  cursor: pointer;
}

@media (min-width: 992px) {
  .navbar-nav {
    opacity: 0;
    -webkit-transform: translateX(-30%);
    -moz-transform: translateX(-30%);
    -ms-transform: translateX(-30%);
    -o-transform: translateX(-30%);
    transform: translateX(-30%);
    -webkit-transition: 0.6s ease-in-out;
    -moz-transition: 0.6s ease-in-out;
    -ms-transition: 0.6s ease-in-out;
    -o-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
  }
}

.nav-type-1.opened .navbar-nav {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

/* Mobile social icons
-------------------------------------------------------*/
.social-icons.on-mobile {
  position: relative;
  margin-top: 20px;
  margin-bottom: 10px;
  bottom: 0;
}

/*-------------------------------------------------------*/
/* Navigation Mobile Styles
/*-------------------------------------------------------*/
@media (max-width: 991px) {
  .navbar-header {
    width: 100%;
    padding-right: 0;
  }
  .navbar,
  .logo-wrap > a,
  .navbar-header {
    height: 60px;
  }
  .navbar-collapse {
    text-align: left;
  }
  .logo-container {
    position: absolute;
    top: 0;
    width: auto;
  }
  .logo-wrap {
    width: auto;
  }
  .nav > li > a {
    padding: 15px 0 15px 15px;
    border-bottom: 1px solid #eaeaea;
    line-height: 1.2;
  }
  .nav > li:last-child > a {
    border-bottom: 0;
  }
  .navbar-nav {
    display: block;
    position: relative;
    margin: 0;
  }
  .navbar-nav > li {
    display: block;
  }
  .navbar-nav > li > a {
    padding: 15px 0;
  }
  .header-wrap {
    padding: 0 20px;
    width: 100%;
    height: auto;
    float: none;
  }
  .nav-wrap {
    padding-left: 0;
    padding-right: 0;
    width: 100% !important;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    opacity: 1;
  }
  .content-wrap {
    margin-left: 0;
  }
  #nav-trigger {
    display: none;
  }
  .nav-type-1 {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
  }
  .nav-item-submenu li a {
    padding: 15px;
    border-bottom: 1px solid #eaeaea;
  }
  .nav-item-toggle > a:after {
    font-family: "ui-icons";
    position: absolute;
    content: "\f107";
    font-weight: 400;
    right: 0;
    color: #929292;
  }
}

/*-------------------------------------------------------*/
/* Hero Img
/*-------------------------------------------------------*/
.pl-80 {
  padding-left: 80px !important;
}

@media only screen and (max-width: 991px) {
  .pl-80 {
    padding-left: 0 !important;
  }
}

.hero-holder {
  bottom: 0;
  left: 80px;
  position: absolute;
  padding: 0 0 80px 95px;
  z-index: 5;
  color: #fff;
}

.hero-holder h1, .hero-holder h2 {
  color: inherit;
}

.hero-holder h1 {
  font-size: 58px;
  margin-bottom: 14px;
}

.hero-holder h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 0;
}

@media only screen and (max-width: 991px) {
  .hero-holder {
    left: 0;
    padding: 0 0 30px 30px;
  }
  .hero-holder h1 {
    font-size: 36px;
  }
  .hero-holder h2 {
    font-size: 18px;
  }
}

.fullscreen-img .img-holder {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  position: absolute;
}

.fullscreen-img li {
  height: 100%;
}

.fullscreen-img img {
  visibility: hidden;
  opacity: 0;
}

.gradient-overlay:before {
  content: '';
  display: block;
  width: 100%;
  height: 40%;
  bottom: 0;
  position: absolute;
  z-index: 3;
  background: rgba(0, 0, 0, 0.34);
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.34) 100%);
  background: -o-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.34) 100%);
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.34) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
}

/*!
 * fullPage 2.8.8
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */
html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: transparent;
}

#superContainer {
  height: 100%;
  position: relative;
  /* Touch detection for Windows 8 */
  -ms-touch-action: none;
  /* IE 11 on Windows Phone 8.1*/
  touch-action: none;
}

.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari<=5 Android<=3 */
  -moz-box-sizing: border-box;
  /* <=28 */
  box-sizing: border-box;
}

.fp-slide {
  float: left;
}

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block;
}

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out;
}

.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.fp-slidesContainer {
  float: left;
  position: relative;
}

.fp-controlArrow {
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent;
}

.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff;
}

.fp-scrollable {
  overflow: hidden;
  position: relative;
}

.fp-scroller {
  overflow: hidden;
}

.iScrollIndicator {
  border: 0 !important;
}

.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important;
}

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
}

#fp-nav.right {
  right: 17px;
}

#fp-nav.left {
  left: 17px;
}

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.fp-slidesNav.bottom {
  bottom: 17px;
}

.fp-slidesNav.top {
  top: 17px;
}

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}

#fp-nav ul li,
.fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}

.fp-slidesNav ul li {
  display: inline-block;
}

#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: #fff;
  opacity: 1;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 10px;
  width: 10px;
  border: 0;
  background: transparent;
  left: 50%;
  top: 50%;
  opacity: .7;
  border: 2px solid #fff;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
  cursor: pointer;
}

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1;
}

#fp-nav ul li .fp-tooltip.right {
  right: 20px;
}

#fp-nav ul li .fp-tooltip.left {
  left: 20px;
}

.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
  height: auto !important;
}

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
  height: auto !important;
}

/* Play Btn
/*-------------------------------------------------------*/
.bg-video .play-btn {
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.play-btn-holder {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.play-btn {
  display: inline-block;
  width: 54px;
  height: 54px;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  background-color: #fff;
}

.btn-play {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  margin: -7px 0 0 -4px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 11px;
  pointer-events: none;
  border-color: transparent transparent transparent #212121;
}

.btn-pause {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 16px;
  margin: -8px 0 0 -5px;
}

.btn-pause:before, .btn-pause:after {
  content: '';
  display: inline-block;
  margin: 0 1px;
  height: 12px;
  width: 3px;
  background-color: #212121;
}

.mobile .bg-video .play-btn {
  display: block;
}

/* Vimeo / Youtube Video
/*-------------------------------------------------------*/
#vimeo-bg,
#youtube-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  padding-left: 80px;
}

@media only screen and (max-width: 991px) {
  #vimeo-bg,
  #youtube-bg {
    padding-left: 0;
  }
}

#vimeo-bg > iframe,
#youtube-bg > iframe {
  display: block;
  width: 100%;
  height: 100%;
}

/* Kenburns
/*-------------------------------------------------------*/
#kenburns {
  position: relative;
  overflow: hidden;
}

canvas {
  vertical-align: top;
}

/* Modern Homepage
/*-------------------------------------------------------*/
#hover-bg-img img {
  display: none;
}

.headers-list h2.hover a,
.headers-list h2:hover a {
  color: white;
}

.headers-list a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 38px;
  padding: 5px 0;
  display: inline-block;
}

/* Mixed Width Grid
/*-------------------------------------------------------*/
.collage {
  padding: 8px;
}

.collage .work-item {
  float: none;
}

.collage img {
  vertical-align: bottom;
}

/* Thumbnails Slider
/*-------------------------------------------------------*/
#gallery-main .carousel-cell {
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery-thumbs {
  margin: 0 -4px;
  background-color: #171717;
}

.gallery-thumbs .carousel-cell {
  width: 8%;
  float: left;
  padding: 8px 4px;
}

.gallery-thumbs img {
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.gallery-thumbs .is-nav-selected img,
.gallery-thumbs img:hover {
  opacity: 1;
}

/* Dark Colors
/*-------------------------------------------------------*/
.dark .main-wrapper,
.dark .bottom-footer,
.dark .header-wrap {
  background-color: #171717;
}

.dark .navbar-nav > .active > a,
.dark .navbar-nav > li > a:hover,
.dark .nav-item-submenu li a:hover,
.dark .social-icons.nobase.dark a:hover {
  color: #fff !important;
}

.dark #nav-icon span,
.dark .navbar-toggle .icon-bar {
  background-color: #929292;
}

.dark #nav-trigger {
  background-color: #0a0a0a;
}

.dark .bottom-footer,
.dark .nav > li > a,
.dark .nav-item-submenu li a {
  border-color: #313131;
}

/*-------------------------------------------------------*/
/* Call To Action
/*-------------------------------------------------------*/
.call-to-action {
  position: relative;
  padding: 130px 0;
}

.call-to-action h3 {
  font-size: 34px;
  margin-bottom: 0;
}

.cta-buttons a {
  margin: 5px;
}

/*-------------------------------------------------------*/
/* Contact
/*-------------------------------------------------------*/
.contact-info h4 {
  font-size: 15px;
  margin-top: 40px;
}

.contact-item h4 {
  margin-bottom: 40px;
  font-size: 18px;
}

.contact-item a {
  color: #929292;
}

address {
  line-height: 28px;
  margin-bottom: 0;
}

#contact-form .message {
  height: 50px;
  width: 100%;
  font-size: 13px;
  line-height: 50px;
  text-align: center;
  float: none;
  margin-top: 20px;
  display: none;
  color: #fff;
}

#contact-form .message.error {
  background-color: #ef5659;
}

#contact-form .message.success {
  background-color: #2cb8a5;
}

/*-------------------------------------------------------*/
/* Google Map
/*-------------------------------------------------------*/
.gmap {
  width: 100%;
  height: 450px;
}

.gmap-btn {
  background-color: #fafafa;
  color: #212121;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 70px;
  line-height: 70px;
  z-index: 2;
  position: relative;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.gmap-btn:hover, .gmap-btn.opened {
  color: #fff;
  background-color: #171717;
}

.gmap.gmap-hidden {
  display: none;
}

/*-------------------------------------------------------*/
/* Page Title
/*-------------------------------------------------------*/
.page-title {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.page-title .container {
  height: 70vh;
}

.page-title:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.24);
}

.page-title.no-overlay:before {
  display: none;
}

.page-title .breadcrumb a,
.page-title .breadcrumb > .active,
.page-title .entry-meta li a:hover {
  color: #fff;
}

.page-title .breadcrumb > li + li:before {
  color: #fff;
  opacity: 0.5;
  padding: 0 1px 0 5px;
}

.title-holder {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
}

.title-holder .subheading {
  margin-bottom: 0;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}

.title-text {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.title-text h1 {
  margin: 0 auto 16px;
  color: #fff;
  font-size: 48px;
  line-height: 67px;
  max-width: 570px;
}

.title-text .entry-meta {
  margin-bottom: 20px;
}

.title-text .entry-meta a {
  color: #fff;
}

.breadcrumb {
  width: auto;
  background-color: transparent;
  padding: 0;
  padding-top: 15px;
  margin-bottom: 0;
  font-size: 13px;
  border-top: 1px solid #eaeaea;
}

.breadcrumb li,
.breadcrumb li a,
.breadcrumb li a.active {
  font-size: 12px;
  color: #a3a3a3;
}

.breadcrumb > .active {
  color: #929292;
}

/*-------------------------------------------------------*/
/* Blog Standard
/*-------------------------------------------------------*/
.entry-img {
  position: relative;
  overflow: hidden;
}

.entry-img img {
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.entry-meta {
  margin-bottom: 13px;
}

.entry-category {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: #7a7a7a;
}

.blog-content .entry-wrap {
  text-align: center;
  position: relative;
  padding: 33px 18%;
  background: #fff;
}

@media (max-width: 1400px) {
  .blog-content .entry-wrap {
    padding: 33px 0;
  }
}

.blog-content .entry-item {
  margin-bottom: 46px;
}

.entry-title {
  font-size: 20px;
  margin-bottom: 27px;
  line-height: 28px;
}

.entry-title a:hover {
  color: #545454;
}

/* Quote Post
-------------------------------------------------------*/
.entry .blockquote-style-1 {
  background: #fff;
}

.entry .blockquote-style-1 p > a {
  color: #212121;
}

.entry .blockquote-style-1 p > a:hover {
  color: #23abc4;
}

.entry .blockquote-style-1 span {
  font-size: 14px;
  display: block;
}

/* Video Post
-------------------------------------------------------*/
.entry-video iframe {
  width: 100%;
  display: block;
  border: 0;
}

/*-------------------------------------------------------*/
/* Blog Single
/*-------------------------------------------------------*/
.article {
  padding: 0 15px;
}

.article p {
  margin-bottom: 30px;
}

.article .lead {
  font-size: 24px;
  line-height: 36px;
}

.entry {
  max-width: 770px;
  margin: auto;
}

.post-fullwidth-img {
  max-width: none;
  margin: 60px 0 100px;
}

/* Share / tags
/*-------------------------------------------------------*/
.entry-content .entry-tags span,
.entry-share span {
  display: inline-block;
  margin-right: 10px;
  color: #212121;
}

.entry-content .entry-tags span {
  margin-right: 0;
}

.entry-content .entry-tags a {
  margin: 0;
  padding: 0;
  background-color: transparent;
  float: none;
}

.entry-content .entry-tags a:hover {
  color: #212121;
}

.entry-share {
  padding: 20px 0;
  border-top: 1px solid #eaeaea;
  margin-bottom: 20px;
}

.entry-share .social-icons {
  margin-top: 0;
  display: inline-block;
}

/* Comments
/*-------------------------------------------------------*/
.entry-comments .comment-avatar {
  position: absolute;
  display: block;
  border-radius: 50%;
}

.entry-comments .comment-author {
  color: #212121;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 0;
  display: block;
}

.entry-comments span {
  display: inline-block;
}

.entry-comments span:last-of-type {
  margin-bottom: 10px;
}

.entry-comments .comment-content {
  padding-left: 86px;
  margin-top: 5px;
}

.entry-comments .comment-content span a {
  font-size: 12px;
  color: #a2a2a2;
  text-transform: uppercase;
}

.entry-comments .comment-content p {
  margin-bottom: 10px;
}

.comment-reply {
  padding-left: 10%;
}

.reply {
  font-size: 15px;
}

.comment-body {
  margin-bottom: 34px;
  padding-bottom: 34px;
}

#comment {
  margin-bottom: 20px;
}

/*-------------------------------------------------------*/
/* Portfolio
/*-------------------------------------------------------*/
.works-grid.grid-5-col .work-item {
  width: 20%;
}

.works-grid.grid-4-col .work-item {
  width: 25%;
}

.works-grid.grid-3-col .work-item {
  width: 33.333%;
}

.works-grid.grid-2-col .work-item {
  width: 50%;
}

.works-grid.small-gutter {
  margin-left: -4px;
  margin-right: -4px;
}

.works-grid.small-gutter .work-item {
  padding: 0 4px;
}

.works-grid.gutter .work-item {
  padding: 0 20px;
}

.works-grid.no-gutter .work-item {
  padding: 0;
}

.works-grid.small-gutter .work-container {
  margin-bottom: 8px;
}

.works-grid.small-gutter.with-title .work-container {
  margin-bottom: 30px;
}

.works-grid.no-gutter .work-img {
  border-radius: 0;
}

.flickity-slider-wrap .work-container,
.collage .work-container {
  margin-bottom: 0;
}

.flickity-slider-wrap.items-4 .carousel-cell {
  width: 25%;
}

.flickity-slider-wrap.items-3 .carousel-cell {
  width: 33.333%;
}

.flickity-slider-wrap.with-spacing {
  margin: 0 -4px;
}

.flickity-slider-wrap.with-spacing .carousel-cell {
  padding: 0 4px;
}

#slider-3-items .work-item {
  width: 33.333%;
  padding: 0 15px;
}

#photography-slider img {
  padding: 0 4px;
  height: 100%;
  max-width: none;
}

@media (max-width: 991px) {
  #photography-slider img {
    height: 400px;
  }
}

@media (max-width: 1280px) {
  #photography-slider .work-description {
    text-align: center;
  }
}

#slider-single .work-item {
  width: 100%;
  margin: 0;
  padding: 0;
}

.owl-carousel .work-container,
.gallery-cell .work-container,
.works-grid.no-gutter .work-container {
  margin-bottom: 0;
}

.portfolio-filter {
  margin-bottom: 50px;
  font-size: 12px;
}

.portfolio-filter a {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  padding: 0 10px;
  color: #dfdfdf;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.portfolio-filter a.active, .portfolio-filter a:hover {
  color: #212121;
}

.work-container {
  margin-bottom: 30px;
  overflow: hidden;
}

.hover-trigger:hover img {
  -webkit-transform: scale(1.3, 1.3);
  -moz-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  -o-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

.work-item {
  position: relative;
  float: left;
}

.work-item.hover-1 .work-description {
  top: 55%;
  bottom: auto;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.work-item.hover-1:hover .work-description {
  top: 50%;
}

.work-item.hover-2 .work-description {
  top: auto;
  bottom: -50px;
}

.work-item.hover-2:hover .work-description {
  bottom: 0;
}

.work-img {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.work-img img {
  width: 100%;
  height: auto;
  overflow: hidden;
  -webkit-transition: transform 3s ease-in-out, filter 0.7s ease-in-out;
  -moz-transition: transform 3s ease-in-out, filter 0.7s ease-in-out;
  -ms-transition: transform 3s ease-in-out, filter 0.7s ease-in-out;
  -o-transition: transform 3s ease-in-out, filter 0.7s ease-in-out;
  transition: transform 3s ease-in-out, filter 0.7s ease-in-out;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.work-img > a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.hover-overlay .work-description {
  color: #fff;
}

.hover-overlay .work-description h3,
.hover-overlay .work-description span {
  color: inherit;
}

.work-description {
  padding: 20px 30px;
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 3;
  -webkit-transition: 0.3s cubic-bezier(0.43, 0.07, 0.61, 0.95);
  -moz-transition: 0.3s cubic-bezier(0.43, 0.07, 0.61, 0.95);
  -ms-transition: 0.3s cubic-bezier(0.43, 0.07, 0.61, 0.95);
  -o-transition: 0.3s cubic-bezier(0.43, 0.07, 0.61, 0.95);
  transition: 0.3s cubic-bezier(0.43, 0.07, 0.61, 0.95);
}

.work-description h3 {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 2px;
  color: #fff;
}

.work-description > span {
  color: #fff;
  font-size: 13px;
}

/* With Title
/*-------------------------------------------------------*/
.works-grid.with-title .work-container {
  position: relative;
  overflow: visible;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.13);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.works-grid.with-title.small-gutter .work-container {
  margin-bottom: 8px;
}

.works-grid.with-title .work-description {
  position: relative;
  bottom: auto;
  padding: 26px 10px 20px;
  text-align: center;
  background-color: #fff;
}

.works-grid.with-title .work-description h3 {
  color: #212121;
}

.works-grid.with-title .work-description span {
  color: #929292;
}

.hover-up:hover .work-container {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.13);
}

/* Black and White
/*-------------------------------------------------------*/
.grayscale img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

.grayscale .work-item:hover img {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  filter: none;
}

/*-------------------------------------------------------*/
/* Masonry
/*-------------------------------------------------------*/
#masonry-grid .work-item.quarter {
  width: 25%;
  float: left;
}

#masonry-grid .work-item.half {
  width: 50%;
}

/*-------------------------------------------------------*/
/* Single Gallery
/*-------------------------------------------------------*/
.project-description h1 {
  font-size: 26px;
  margin-bottom: 5px;
}

.project-description .project-category {
  font-size: 13px;
}

.figure {
  margin: 40px 0;
}

.figure figcaption {
  margin-top: 10px;
}

figcaption {
  font-size: 14px;
}

.product_meta .detail-wrap {
  display: table;
  table-layout: fixed;
}

.product_meta .detail-label,
.product_meta .detail-value {
  display: table-cell;
  line-height: 28px;
  font-size: 14px;
}

.product_meta .detail-label {
  min-width: 110px;
  color: #212121;
}

/*-------------------------------------------------------*/
/* Project Nav
/*-------------------------------------------------------*/
.project-nav {
  padding: 47px 0;
  border-top: 1px solid #eaeaea;
}

.project-nav li {
  position: relative;
}

.project-nav li a {
  font-family: "Poppins", sans-serif;
  color: #212121;
  font-size: 14px;
  font-weight: 600;
}

.project-nav li a:hover {
  color: #929292;
}

.project-nav .page-prev a,
.project-nav .page-next a {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.project-nav .page-prev i,
.project-nav .page-next i {
  font-size: 13px;
  position: absolute;
  top: 3px;
}

.project-nav .page-prev i {
  left: 0;
}

.project-nav .page-prev a {
  padding-left: 24px;
}

.project-nav .page-prev a:hover {
  padding-left: 20px;
}

.project-nav .page-next {
  text-align: right;
}

.project-nav .page-next i {
  right: 0;
}

.project-nav .page-next a {
  padding-right: 24px;
}

.project-nav .page-next a:hover {
  padding-right: 20px;
}

.project-nav .back-to-projects {
  text-align: center;
}

/*-------------------------------------------------------*/
/* Sliders
/*-------------------------------------------------------*/
.owl-carousel,
.flickity {
  overflow: hidden;
}

.owl-carousel img {
  width: 100%;
}

.owl-pagination {
  position: relative;
  margin-top: 30px;
  left: 0;
  display: block;
  text-align: center;
  width: 100%;
}

.owl-page {
  display: inline-block;
  padding: 5px;
  position: relative;
}

.owl-page.active span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0;
  opacity: 1;
  border-color: transparent;
  background: #23abc4;
}

.owl-page span {
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  opacity: 0.7;
  background: transparent;
  z-index: 100;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.owl-page span:hover {
  opacity: 1;
}

.owl-dark-dots .owl-page span {
  border-color: #929292;
}

.owl-dark-dots .owl-page.active span {
  border-color: transparent;
}

.owl-white-dots .owl-page.active span {
  background-color: #fff;
}

.owl-carousel,
.slick-slider {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}

#owl-3-items .owl-pagination {
  position: relative;
  bottom: auto;
}

.owl-buttons {
  position: static;
}

.owl-prev,
.flex-direction-nav .flex-prev,
.flickity-prev-next-button.previous {
  left: -40px;
}

.owl-next,
.flex-direction-nav .flex-next,
.flickity-prev-next-button.next {
  right: -40px;
}

.flex-direction-nav .flex-prev,
.flex-direction-nav .flex-next {
  opacity: 0;
}

.owl-prev,
.owl-next,
.flex-direction-nav a,
.flickity-prev-next-button {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  text-align: center;
  line-height: 40px;
  z-index: 10;
  width: 40px;
  height: 40px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.flickity-prev-next-button,
.flex-direction-nav a {
  width: 30px;
  height: 60px;
  margin-top: -30px;
}

.flickity-prev-next-button.previous {
  border-radius: 0 3px 3px 0;
}

.flickity-prev-next-button.next {
  border-radius: 3px 0 0 3px;
}

.flex-direction-nav a {
  background-color: #fff;
}

.flex-direction-nav a i {
  font-size: 26px;
  color: #212121;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.owl-next:before,
#flexslider .flex-direction-nav .flex-next:before,
.flickity-prev-next-button:before {
  left: auto;
  right: 0;
}

.owl-prev i,
.owl-next i,
#thumbs a i {
  position: relative;
  font-size: 40px;
  color: #212121;
}

.light-arrows .owl-prev i,
.light-arrows .owl-next i,
#flexslider.light-arrows a i {
  color: #fff;
}

.light-arrows .flickity-prev-next-button .arrow {
  fill: #fff;
}

.owl-carousel:hover .owl-next,
#flexslider:hover .flex-direction-nav .flex-next {
  opacity: 1;
  right: 10px;
}

.owl-carousel:hover .owl-prev,
#flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 1;
  left: 10px;
}

.flickity-slider-wrap:hover .flickity-prev-next-button.previous {
  opacity: 1;
  left: 0;
}

.flickity-slider-wrap:hover .flickity-prev-next-button.next {
  opacity: 1;
  right: 0;
}

.flickity-prev-next-button,
.flickity-prev-next-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.flickity-prev-next-button:focus {
  box-shadow: none;
}

.flickity-prev-next-button {
  border-radius: 0;
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

.flickity-prev-next-button .arrow {
  fill: #fff;
}

.flickity-page-dots {
  position: relative;
  bottom: auto;
  margin-top: 50px;
}

.flickity-page-dots .dot,
.flex-control-paging li a {
  height: 10px;
  width: 10px;
  opacity: 0.7;
  margin: 0 5px;
  border: 2px solid #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  background: transparent;
}

.flickity-page-dots .dot:hover {
  opacity: 1;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
  background: #fff;
  border-color: transparent;
}

.flex-control-nav {
  bottom: 15px;
}

.flex-control-nav li {
  margin: 0;
}

.is-dragging {
  pointer-events: none;
}

.flickity-slider-wrap {
  overflow: hidden;
}

.flickity-slider-wrap.dots-inside .flickity-page-dots {
  position: absolute;
  bottom: 30px;
  margin-top: 0;
}

.owl-carousel.dots-inside .owl-pagination {
  position: absolute;
  bottom: 20px;
  margin-top: 0;
}

/*-------------------------------------------------------*/
/* Tables
/*-------------------------------------------------------*/
.table tr > td:last-child {
  text-align: right;
}

.table tr:first-child td {
  border-top: 0;
}

.table > tbody > tr > td {
  padding: 14px 0;
  border-color: #eaeaea;
}

/*-------------------------------------------------------*/
/* Buttons
/*-------------------------------------------------------*/
.section-buttons .btn {
  margin-bottom: 20px;
}

.btn {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
  border: none;
  border-radius: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.btn:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn:after {
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background: #171717;
  content: '';
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #fff;
}

.btn:hover:after {
  height: 100%;
}

.btn:hover span {
  color: #fff;
}

.btn:focus {
  color: #fff;
  outline: none !important;
}

.btn span {
  position: relative;
  z-index: 3;
  -webkit-transition: color 0.3s !important;
  -moz-transition: color 0.3s !important;
  -ms-transition: color 0.3s !important;
  -o-transition: color 0.3s !important;
  transition: color 0.3s !important;
}

.btn.btn-light {
  color: #212121;
}

.btn.btn-light:before {
  background-color: #fafafa;
}

.btn.btn-dark {
  color: #fff;
}

.btn.btn-dark:before {
  background-color: #171717;
}

.btn.btn-dark:after {
  background-color: #313131;
}

.btn.btn-white {
  box-shadow: 1px 1.732px 3px 0px rgba(0, 0, 0, 0.05);
  color: #171717;
}

.btn.btn-white:before {
  background-color: #fff;
}

.btn.btn-white:after {
  background-color: #313131;
}

.btn-lg {
  font-size: 16px;
  padding: 0 46px;
}

.btn-lg span {
  line-height: 54px;
}

.btn-md {
  font-size: 14px;
  padding: 0 32px;
}

.btn-md span {
  line-height: 44px;
}

.btn-sm {
  font-size: 11px;
  padding: 0 25px;
}

.btn-sm span {
  line-height: 32px;
}

.rounded,
.rounded:before {
  border-radius: 70px;
}

/*-------------------------------------------------------*/
/* Social Icons
/*-------------------------------------------------------*/
.social-icons a {
  margin: 0 3px 6px 0;
  display: inline-block;
  width: 32px;
  height: 32px;
  color: #929292;
  background-color: #fafafa;
  line-height: 32px;
  text-align: center;
  font-size: 17px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.social-icons a:last-child {
  margin-right: 0 !important;
}

.social-icons a:hover {
  background-color: #171717;
  color: #fff !important;
}

.social-icons.social-buttons a {
  width: auto;
  height: 43px;
  line-height: 43px;
  padding: 0 24px 0 18px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.social-icons.social-buttons a.social-facebook {
  background-color: #3a579a;
}

.social-icons.social-buttons a.social-facebook:hover {
  background-color: #334d87;
}

.social-icons.social-buttons a.social-twitter {
  background-color: #00abf0;
}

.social-icons.social-buttons a.social-twitter:hover {
  background-color: #0099d6;
}

.social-icons.social-buttons a i {
  font-size: 15px;
  margin-right: 7px;
}

.social-icons.base-white a {
  background-color: #fff;
}

.social-icons.dark a {
  background-color: #252525;
  color: #929292;
}

.social-icons.nobase a {
  width: auto;
  height: auto;
  margin-right: 14px;
  background-color: transparent;
  color: #fff;
}

.social-icons.nobase a:hover {
  background-color: transparent !important;
  color: #fff;
}

.social-icons.nobase.dark a {
  color: #929292;
}

.social-icons.nobase.dark a:hover {
  color: #212121 !important;
}

.social-icons.transparent a {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.rounded a {
  border-radius: 50%;
}

.social-icons.colored a {
  color: #fff;
}

.social-icons.colored a:hover {
  opacity: 0.9;
}

/*-------------------------------------------------------*/
/* Form Elements
/*-------------------------------------------------------*/
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="search"],
select,
textarea {
  height: 48px;
  border: 1px solid #eaeaea;
  background-color: #fafafa;
  width: 100%;
  margin-bottom: 30px;
  font-size: 15px;
  padding: 0 16px;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  -ms-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

textarea {
  height: auto;
  padding: 8px 16px;
  margin-bottom: 25px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
  border-color: #171717;
  background-color: #fff;
  outline: none;
  box-shadow: none !important;
}

input:not([type=checkbox]):not([type=radio]),
textarea {
  -webkit-appearance: none;
}

/* Change Color of Placeholders */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #929292;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #929292;
  opacity: 1;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #929292;
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #929292;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  padding-left: 12px;
  background-image: url(../img/dropdown.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

select::-ms-expand {
  display: none;
}

label {
  color: #a2a2a2;
  font-size: 16px;
  vertical-align: middle;
  font-weight: 400;
  margin-bottom: 7px;
}

.row-12 input[type="text"],
.row-12 input[type="email"] {
  margin-bottom: 12px;
}

/* Checkboxes & Radio Buttons
-------------------------------------------------------*/
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label:before {
  width: 18px;
  height: 18px;
  background-color: #ededed;
  content: "";
  display: inline-block;
  font-size: 13px;
  margin: -4px 12px 0 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #eaeaea;
}

input[type="checkbox"]:checked + label:before {
  content: "\f0c8";
  font-family: "FontAwesome";
  color: #212121;
  font-size: 9px;
  line-height: 16px;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  cursor: pointer;
  margin-bottom: 0;
  text-transform: none;
  letter-spacing: normal;
  color: #212121;
  font-size: 15px;
}

.radio-buttons > li,
.checkboxes > li {
  padding: 7px 0;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label:before {
  display: inline-block;
  content: "";
  width: 18px;
  height: 18px;
  background-color: #ededed;
  border-radius: 40px;
  margin: -3px 10px 0 0;
  outline: none;
  vertical-align: middle;
  cursor: pointer;
  margin-bottom: 0;
}

input[type="radio"]:checked + label:before {
  background-color: #171717;
  border: 5px solid #ededed;
  padding: 1px;
}

input[type="radio"]:focus {
  outline: none;
}

input.btn.btn-lg,
button.btn.btn-lg {
  padding: 17px 34px 16px;
}

input.btn.btn-md,
button.btn.btn-md {
  padding: 10px 27px;
}

input.btn:hover,
button.btn:hover {
  background-color: #313131;
  color: #fff;
}

input.btn-dark {
  background-color: #171717;
}

input.btn-white {
  background-color: #fff;
}

/*-------------------------------------------------------*/
/* Lightboxes
/*-------------------------------------------------------*/
.mfp-iframe-holder .mfp-content {
  max-width: 1400px;
}

.modal-body,
.modal-footer {
  padding: 30px;
}

.modal-header {
  padding: 15px 30px;
}

/*-------------------------------------------------------*/
/* Alert Boxes
/*-------------------------------------------------------*/
.alert {
  padding: 14px 18px;
  margin-bottom: 20px;
  border: none;
  color: #fff;
  border-radius: 3px;
}

.alert strong {
  color: inherit;
}

.alert-dismissible .close {
  right: 0;
  top: 0;
  color: inherit;
  position: relative;
}

.close {
  opacity: 1;
  text-shadow: none;
  font-weight: normal;
}

.modal-header .close {
  font-size: 25px;
  margin-top: 2px !important;
}

.alert-success {
  background-color: #e5f9ee;
  color: #1abc9c;
}

.alert-info {
  background-color: #e9f4f6;
  color: #23abc4;
}

.alert-warning {
  background-color: #faf8f0;
  color: #b1804c;
}

.alert-danger {
  background-color: #faefee;
  color: #e95e49;
}

/*-------------------------------------------------------*/
/* Footer Type-1
/*-------------------------------------------------------*/
.bottom-footer {
  padding: 27px 0;
  border-top: 1px solid #eaeaea;
}

.bottom-footer .footer-socials {
  margin-top: 0;
}

.bottom-footer .social-icons a {
  background-color: transparent;
  margin-bottom: 0;
}

.bottom-footer .social-icons a:hover {
  background-color: transparent !important;
}

.copyright span {
  display: inline-block;
  font-size: 12px;
  color: #adadad;
}

.copyright a {
  color: #adadad;
}

/*-------------------------------------------------------*/
/* Style Switcher
/*-------------------------------------------------------*/
#customizer {
  position: fixed;
  top: 0;
  z-index: 10000;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.corner {
  display: block;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: #fff;
  position: absolute;
  top: 100px;
  left: -40px;
  box-shadow: -3px 0px 8px -1px rgba(0, 0, 0, 0.1);
  line-height: 40px;
  text-align: center;
  border-radius: 3px 0 0 3px;
  font-size: 20px;
  color: #1e2023;
  font-family: Helvetica, sans-serif;
}

.s-close {
  right: -400px !important;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.s-open {
  right: 0 !important;
}

#options {
  padding: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

.demo-list li {
  float: left;
  padding: 7px 4px;
  width: 50%;
}

.demo-list img {
  border: 1px solid #eaeaea;
}

.color-scheme a {
  display: block;
  height: 30px;
  width: 30px;
  margin: 0 4.25px 10px;
}

@media (max-width: 767px) {
  #customizer {
    display: none;
  }
}

/*-------------------------------------------------------*/
/* Responsive Styles
/*-------------------------------------------------------*/
@media (max-width: 1199px) {
  .masonry-grid .work-item.quarter {
    width: 50%;
  }
  .works-grid.grid-5-col .work-item {
    width: 25%;
  }
  .works-grid.grid-4-col .work-item {
    width: 33.33333%;
  }
  .rev_slider_wrapper.container {
    padding: 0;
  }
}

@media (max-width: 991px) {
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 22px;
  }
  h5 {
    font-size: 19px;
  }
  h6 {
    font-size: 17px;
  }
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
  }
  .section-wrap {
    padding: 80px 0;
    background-attachment: scroll !important;
    background-position: 50% 50% !important;
  }
  .container-fluid.semi-fluid {
    padding: 0 30px;
  }
  .call-to-action h2 {
    font-size: 36px;
  }
  .main-wrapper {
    padding-top: 60px;
  }
  .page-title .container {
    height: 300px;
  }
  .title-text h1 {
    font-size: 32px;
    line-height: 38px;
    margin-top: 0;
  }
  .blog-standard .post-content {
    padding-right: 15px;
  }
  .works-grid.grid-5-col .work-item,
  .works-grid.grid-4-col .work-item,
  #team-slider .gallery-cell {
    width: 33.3333%;
  }
  .img-box-holder,
  .img-box {
    position: relative;
  }
  .text-box,
  .text-box.style-2 {
    padding: 80px 0;
  }
  .heading-row {
    margin-bottom: 40px;
  }
  .testimonials .testimonial-text {
    font-size: 22px;
    line-height: 36px;
  }
  .heading.large {
    font-size: 32px;
  }
  #masonry-grid .work-item {
    width: 50% !important;
  }
  .service-tabs .nav.nav-tabs {
    border-bottom: none;
  }
}

@media (max-width: 767px) {
  .container-fluid.semi-fluid {
    padding: 0 15px;
  }
  .sidenav {
    width: 100%;
    right: -100%;
  }
  .pricing-table.best {
    margin-top: 0;
  }
  .pricing-tables .row > div[class^="col"] {
    padding: 0 15px !important;
  }
  .call-to-action h3 {
    margin-bottom: 20px;
  }
  .process-item {
    margin-bottom: 40px;
  }
  .page-title.style-2 .title-text h1 {
    text-align: center;
    font-size: 36px;
  }
  .page-title.style-2 .breadcrumb {
    position: relative;
    text-align: center;
    margin-top: 7px;
  }
  .page-title.style-2 .subheading {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 15px;
  }
  .flickity-slider-wrap.items-4 .carousel-cell {
    width: 33.333%;
  }
  .works-grid.grid-5-col .work-item,
  .works-grid.grid-4-col .work-item,
  .works-grid.grid-3-col .work-item,
  #team-slider .gallery-cell {
    width: 50%;
  }
  .work-item .bg-img-holder,
  .work-item .bg-img-holder .bg-img {
    position: relative;
  }
  .work-item .bg-img-holder img {
    display: block;
  }
  .work-item .bg-img-holder,
  .grid-1-col .work-description,
  .works-grid.grid-tiles .work-item {
    width: 100%;
  }
  .grid-1-col .work-description {
    padding: 60px 50px 80px 50px;
  }
  .large-heading {
    font-size: 40px;
  }
  .statistic .timer {
    display: block;
  }
  .entry-content {
    padding-left: 0;
    border-left: none;
    margin-top: 30px;
  }
  .service-tabs .nav.nav-tabs > li > a i {
    margin-bottom: 30px;
  }
  .entry-wrap {
    padding-top: 30px;
  }
  .service-item-box.arrow-next:after {
    display: none;
  }
}

@media (max-width: 640px) {
  .col-xxs-12,
  .masonry-grid .work-item,
  .masonry-grid .work-item.quarter {
    width: 100%;
  }
  .col-xxs-6,
  .flickity-slider-wrap.items-4 .carousel-cell,
  .flickity-slider-wrap.items-3 .carousel-cell {
    width: 50%;
  }
  .portfolio-filter a {
    display: block;
    margin: 10px 0;
    margin-bottom: 0;
  }
  .intro-heading {
    font-size: 25px;
  }
  .text-box.sm {
    padding: 30px 15px;
  }
  .entry .blockquote-style-1 {
    padding: 40px;
  }
  .entry .blockquote-style-1 p:before {
    display: none;
  }
  .pagination a:first-child {
    margin-right: 5px;
    width: 20px;
  }
  .pagination a:last-child {
    margin-left: 5px;
    width: 20px;
  }
  .pagination a > i {
    font-size: 20px;
  }
  .blog-creative .masonry-item {
    height: 400px;
  }
}

@media (max-width: 540px) {
  .table-wrap {
    overflow-x: scroll;
  }
  .works-grid .work-item,
  #masonry-grid .work-item,
  .flickity-slider-wrap.items-4 .work-item,
  .flickity-slider-wrap.items-3 .work-item {
    width: 100% !important;
  }
}

@media (max-width: 480px) {
  .page-404 h1 {
    font-size: 100px;
  }
  .newsletter .newsletter-form {
    width: 100%;
    margin-right: 0;
  }
  .vertical .nav-tabs,
  .nav-tabs > li {
    float: none;
    width: 100%;
  }
  .vertical .nav-tabs li {
    padding-bottom: 0;
  }
  .vertical .nav.nav-tabs > li.active > a {
    right: 0;
    padding-left: 20px;
  }
  .vertical .tab-content {
    border-top: 0;
  }
}

/*-------------------------------------------------------*/
/* Spacings
/*-------------------------------------------------------*/
.nomargin {
  margin: 0 !important;
}

.nopadding {
  padding: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-110 {
  margin-top: 110px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-130 {
  margin-top: 130px;
}

.mt-140 {
  margin-top: 140px;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-110 {
  margin-bottom: 110px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-130 {
  margin-bottom: 130px;
}

.mb-140 {
  margin-bottom: 140px;
}

.pt-0 {
  padding-top: 0;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-110 {
  padding-top: 110px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-130 {
  padding-top: 130px;
}

.pt-140 {
  padding-top: 140px;
}

.pt-150 {
  padding-top: 150px;
}

.pt-160 {
  padding-top: 160px;
}

.pt-170 {
  padding-top: 170px;
}

.pt-180 {
  padding-top: 180px;
}

.pt-190 {
  padding-top: 190px;
}

.pt-200 {
  padding-top: 200px;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-110 {
  padding-bottom: 110px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-130 {
  padding-bottom: 130px;
}

.pb-140 {
  padding-bottom: 140px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pb-160 {
  padding-bottom: 160px;
}

.pb-170 {
  padding-bottom: 170px;
}

.pb-180 {
  padding-bottom: 180px;
}

.pb-190 {
  padding-bottom: 190px;
}

.pb-200 {
  padding-bottom: 200px;
}

@media only screen and (max-width: 1199px) {
  .mt-lrg-0 {
    margin-top: 0 !important;
  }
  .mt-lrg-10 {
    margin-top: 10px;
  }
  .mt-lrg-20 {
    margin-top: 20px;
  }
  .mt-lrg-30 {
    margin-top: 30px;
  }
  .mt-lrg-40 {
    margin-top: 40px;
  }
  .mt-lrg-50 {
    margin-top: 50px;
  }
  .mt-lrg-60 {
    margin-top: 60px;
  }
  .mt-lrg-70 {
    margin-top: 70px;
  }
  .mt-lrg-80 {
    margin-top: 80px;
  }
  .mt-lrg-90 {
    margin-top: 90px;
  }
  .mt-lrg-100 {
    margin-top: 100px;
  }
  .mt-lrg-110 {
    margin-top: 110px;
  }
  .mt-lrg-120 {
    margin-top: 120px;
  }
  .mt-lrg-130 {
    margin-top: 130px;
  }
  .mt-lrg-140 {
    margin-top: 140px;
  }
  .mb-lrg-0 {
    margin-bottom: 0 !important;
  }
  .mb-lrg-10 {
    margin-bottom: 10px;
  }
  .mb-lrg-20 {
    margin-bottom: 20px;
  }
  .mb-lrg-30 {
    margin-bottom: 30px;
  }
  .mb-lrg-40 {
    margin-bottom: 40px;
  }
  .mb-lrg-50 {
    margin-bottom: 50px;
  }
  .mb-lrg-60 {
    margin-bottom: 60px;
  }
  .mb-lrg-70 {
    margin-bottom: 70px;
  }
  .mb-lrg-80 {
    margin-bottom: 80px;
  }
  .mb-lrg-90 {
    margin-bottom: 90px;
  }
  .mb-lrg-100 {
    margin-bottom: 100px;
  }
  .mb-lrg-110 {
    margin-bottom: 110px;
  }
  .mb-lrg-120 {
    margin-bottom: 120px;
  }
  .mb-lrg-130 {
    margin-bottom: 130px;
  }
  .mb-lrg-140 {
    margin-bottom: 140px;
  }
  .pt-lrg-0 {
    padding-top: 0;
  }
  .pt-lrg-10 {
    padding-top: 10px;
  }
  .pt-lrg-20 {
    padding-top: 20px;
  }
  .pt-lrg-30 {
    padding-top: 30px;
  }
  .pt-lrg-40 {
    padding-top: 40px;
  }
  .pt-lrg-50 {
    padding-top: 50px;
  }
  .pt-lrg-60 {
    padding-top: 60px;
  }
  .pt-lrg-70 {
    padding-top: 70px;
  }
  .pt-lrg-80 {
    padding-top: 80px;
  }
  .pt-lrg-90 {
    padding-top: 90px;
  }
  .pt-lrg-100 {
    padding-top: 100px;
  }
  .pt-lrg-110 {
    padding-top: 110px;
  }
  .pt-lrg-120 {
    padding-top: 120px;
  }
  .pt-lrg-130 {
    padding-top: 130px;
  }
  .pt-lrg-140 {
    padding-top: 140px;
  }
  .pb-lrg-0 {
    padding-bottom: 0;
  }
  .pb-lrg-10 {
    padding-bottom: 10px;
  }
  .pb-lrg-20 {
    padding-bottom: 20px;
  }
  .pb-lrg-30 {
    padding-bottom: 30px;
  }
  .pb-lrg-40 {
    padding-bottom: 40px;
  }
  .pb-lrg-50 {
    padding-bottom: 50px;
  }
  .pb-lrg-60 {
    padding-bottom: 60px;
  }
  .pb-lrg-70 {
    padding-bottom: 70px;
  }
  .pb-lrg-80 {
    padding-bottom: 80px;
  }
  .pb-lrg-90 {
    padding-bottom: 90px;
  }
  .pb-lrg-100 {
    padding-bottom: 100px;
  }
  .pb-lrg-110 {
    padding-bottom: 110px;
  }
  .pb-lrg-120 {
    padding-bottom: 120px;
  }
  .pb-lrg-130 {
    padding-bottom: 130px;
  }
  .pb-lrg-140 {
    padding-bottom: 140px;
  }
}

@media only screen and (max-width: 991px) {
  .mt-mdm-0 {
    margin-top: 0 !important;
  }
  .mt-mdm-10 {
    margin-top: 10px;
  }
  .mt-mdm-20 {
    margin-top: 20px;
  }
  .mt-mdm-30 {
    margin-top: 30px;
  }
  .mt-mdm-40 {
    margin-top: 40px;
  }
  .mt-mdm-50 {
    margin-top: 50px;
  }
  .mt-mdm-60 {
    margin-top: 60px;
  }
  .mt-mdm-70 {
    margin-top: 70px;
  }
  .mt-mdm-80 {
    margin-top: 80px;
  }
  .mt-mdm-90 {
    margin-top: 90px;
  }
  .mt-mdm-100 {
    margin-top: 100px;
  }
  .mt-mdm-110 {
    margin-top: 110px;
  }
  .mt-mdm-120 {
    margin-top: 120px;
  }
  .mt-mdm-130 {
    margin-top: 130px;
  }
  .mt-mdm-140 {
    margin-top: 140px;
  }
  .mb-mdm-0 {
    margin-bottom: 0 !important;
  }
  .mb-mdm-10 {
    margin-bottom: 10px;
  }
  .mb-mdm-20 {
    margin-bottom: 20px;
  }
  .mb-mdm-30 {
    margin-bottom: 30px;
  }
  .mb-mdm-40 {
    margin-bottom: 40px;
  }
  .mb-mdm-50 {
    margin-bottom: 50px;
  }
  .mb-mdm-60 {
    margin-bottom: 60px;
  }
  .mb-mdm-70 {
    margin-bottom: 70px;
  }
  .mb-mdm-80 {
    margin-bottom: 80px;
  }
  .mb-mdm-90 {
    margin-bottom: 90px;
  }
  .mb-mdm-100 {
    margin-bottom: 100px;
  }
  .mb-mdm-110 {
    margin-bottom: 110px;
  }
  .mb-mdm-120 {
    margin-bottom: 120px;
  }
  .mb-mdm-130 {
    margin-bottom: 130px;
  }
  .mb-mdm-140 {
    margin-bottom: 140px;
  }
  .pt-mdm-0 {
    padding-top: 0;
  }
  .pt-mdm-10 {
    padding-top: 10px;
  }
  .pt-mdm-20 {
    padding-top: 20px;
  }
  .pt-mdm-30 {
    padding-top: 30px;
  }
  .pt-mdm-40 {
    padding-top: 40px;
  }
  .pt-mdm-50 {
    padding-top: 50px;
  }
  .pt-mdm-60 {
    padding-top: 60px;
  }
  .pt-mdm-70 {
    padding-top: 70px;
  }
  .pt-mdm-80 {
    padding-top: 80px;
  }
  .pt-mdm-90 {
    padding-top: 90px;
  }
  .pt-mdm-100 {
    padding-top: 100px;
  }
  .pt-mdm-110 {
    padding-top: 110px;
  }
  .pt-mdm-120 {
    padding-top: 120px;
  }
  .pt-mdm-130 {
    padding-top: 130px;
  }
  .pt-mdm-140 {
    padding-top: 140px;
  }
  .pt-mdm-150 {
    padding-top: 150px;
  }
  .pb-mdm-0 {
    padding-bottom: 0;
  }
  .pb-mdm-10 {
    padding-bottom: 10px;
  }
  .pb-mdm-20 {
    padding-bottom: 20px;
  }
  .pb-mdm-30 {
    padding-bottom: 30px;
  }
  .pb-mdm-40 {
    padding-bottom: 40px;
  }
  .pb-mdm-50 {
    padding-bottom: 50px;
  }
  .pb-mdm-60 {
    padding-bottom: 60px;
  }
  .pb-mdm-70 {
    padding-bottom: 70px;
  }
  .pb-mdm-80 {
    padding-bottom: 80px;
  }
  .pb-mdm-90 {
    padding-bottom: 90px;
  }
  .pb-mdm-100 {
    padding-bottom: 100px;
  }
  .pb-mdm-110 {
    padding-bottom: 110px;
  }
  .pb-mdm-120 {
    padding-bottom: 120px;
  }
  .pb-mdm-130 {
    padding-bottom: 130px;
  }
  .pb-mdm-140 {
    padding-bottom: 140px;
  }
  .pb-mdm-150 {
    padding-bottom: 150px;
  }
}

@media only screen and (max-width: 767px) {
  .mt-sml-0 {
    margin-top: 0 !important;
  }
  .mt-sml-10 {
    margin-top: 10px;
  }
  .mt-sml-20 {
    margin-top: 20px;
  }
  .mt-sml-30 {
    margin-top: 30px;
  }
  .mt-sml-40 {
    margin-top: 40px;
  }
  .mt-sml-50 {
    margin-top: 50px;
  }
  .mt-sml-60 {
    margin-top: 60px;
  }
  .mt-sml-70 {
    margin-top: 70px;
  }
  .mt-sml-80 {
    margin-top: 80px;
  }
  .mt-sml-90 {
    margin-top: 90px;
  }
  .mt-sml-100 {
    margin-top: 100px;
  }
  .mt-sml-110 {
    margin-top: 110px;
  }
  .mt-sml-120 {
    margin-top: 120px;
  }
  .mt-sml-130 {
    margin-top: 130px;
  }
  .mt-sml-140 {
    margin-top: 140px;
  }
  .mb-sml-0 {
    margin-bottom: 0 !important;
  }
  .mb-sml-10 {
    margin-bottom: 10px;
  }
  .mb-sml-20 {
    margin-bottom: 20px;
  }
  .mb-sml-30 {
    margin-bottom: 30px;
  }
  .mb-sml-40 {
    margin-bottom: 40px;
  }
  .mb-sml-50 {
    margin-bottom: 50px;
  }
  .mb-sml-60 {
    margin-bottom: 60px;
  }
  .mb-sml-70 {
    margin-bottom: 70px;
  }
  .mb-sml-80 {
    margin-bottom: 80px;
  }
  .mb-sml-90 {
    margin-bottom: 90px;
  }
  .mb-sml-100 {
    margin-bottom: 100px;
  }
  .mb-sml-110 {
    margin-bottom: 110px;
  }
  .mb-sml-120 {
    margin-bottom: 120px;
  }
  .mb-sml-130 {
    margin-bottom: 130px;
  }
  .mb-sml-140 {
    margin-bottom: 140px;
  }
  .pt-sml-0 {
    padding-top: 0;
  }
  .pt-sml-10 {
    padding-top: 10px;
  }
  .pt-sml-20 {
    padding-top: 20px;
  }
  .pt-sml-30 {
    padding-top: 30px;
  }
  .pt-sml-40 {
    padding-top: 40px;
  }
  .pt-sml-50 {
    padding-top: 50px;
  }
  .pt-sml-60 {
    padding-top: 60px;
  }
  .pt-sml-70 {
    padding-top: 70px;
  }
  .pt-sml-80 {
    padding-top: 80px;
  }
  .pt-sml-90 {
    padding-top: 90px;
  }
  .pt-sml-100 {
    padding-top: 100px;
  }
  .pt-sml-110 {
    padding-top: 110px;
  }
  .pt-sml-120 {
    padding-top: 120px;
  }
  .pt-sml-130 {
    padding-top: 130px;
  }
  .pt-sml-140 {
    padding-top: 140px;
  }
  .pb-sml-0 {
    padding-bottom: 0;
  }
  .pb-sml-10 {
    padding-bottom: 10px;
  }
  .pb-sml-20 {
    padding-bottom: 20px;
  }
  .pb-sml-30 {
    padding-bottom: 30px;
  }
  .pb-sml-40 {
    padding-bottom: 40px;
  }
  .pb-sml-50 {
    padding-bottom: 50px;
  }
  .pb-sml-60 {
    padding-bottom: 60px;
  }
  .pb-sml-70 {
    padding-bottom: 70px;
  }
  .pb-sml-80 {
    padding-bottom: 80px;
  }
  .pb-sml-90 {
    padding-bottom: 90px;
  }
  .pb-sml-100 {
    padding-bottom: 100px;
  }
  .pb-sml-110 {
    padding-bottom: 110px;
  }
  .pb-sml-120 {
    padding-bottom: 120px;
  }
  .pb-sml-130 {
    padding-bottom: 130px;
  }
  .pb-sml-140 {
    padding-bottom: 140px;
  }
}

@media only screen and (max-width: 480px) {
  .mt-xsm-0 {
    margin-top: 0 !important;
  }
  .mt-xsm-10 {
    margin-top: 10px;
  }
  .mt-xsm-20 {
    margin-top: 20px;
  }
  .mt-xsm-30 {
    margin-top: 30px;
  }
  .mt-xsm-40 {
    margin-top: 40px;
  }
  .mt-xsm-50 {
    margin-top: 50px;
  }
  .mt-xsm-60 {
    margin-top: 60px;
  }
  .mt-xsm-70 {
    margin-top: 70px;
  }
  .mt-xsm-80 {
    margin-top: 80px;
  }
  .mt-xsm-90 {
    margin-top: 90px;
  }
  .mt-xsm-100 {
    margin-top: 100px;
  }
  .mt-xsm-110 {
    margin-top: 110px;
  }
  .mt-xsm-120 {
    margin-top: 120px;
  }
  .mt-xsm-130 {
    margin-top: 130px;
  }
  .mt-xsm-140 {
    margin-top: 140px;
  }
  .mb-xsm-0 {
    margin-bottom: 0 !important;
  }
  .mb-xsm-10 {
    margin-bottom: 10px;
  }
  .mb-xsm-20 {
    margin-bottom: 20px;
  }
  .mb-xsm-30 {
    margin-bottom: 30px;
  }
  .mb-xsm-40 {
    margin-bottom: 40px;
  }
  .mb-xsm-50 {
    margin-bottom: 50px;
  }
  .mb-xsm-60 {
    margin-bottom: 60px;
  }
  .mb-xsm-70 {
    margin-bottom: 70px;
  }
  .mb-xsm-80 {
    margin-bottom: 80px;
  }
  .mb-xsm-90 {
    margin-bottom: 90px;
  }
  .mb-xsm-100 {
    margin-bottom: 100px;
  }
  .mb-xsm-110 {
    margin-bottom: 110px;
  }
  .mb-xsm-120 {
    margin-bottom: 120px;
  }
  .mb-xsm-130 {
    margin-bottom: 130px;
  }
  .mb-xsm-140 {
    margin-bottom: 140px;
  }
  .pt-xsm-0 {
    padding-top: 0;
  }
  .pt-xsm-10 {
    padding-top: 10px;
  }
  .pt-xsm-20 {
    padding-top: 20px;
  }
  .pt-xsm-30 {
    padding-top: 30px;
  }
  .pt-xsm-40 {
    padding-top: 40px;
  }
  .pt-xsm-50 {
    padding-top: 50px;
  }
  .pt-xsm-60 {
    padding-top: 60px;
  }
  .pt-xsm-70 {
    padding-top: 70px;
  }
  .pt-xsm-80 {
    padding-top: 80px;
  }
  .pt-xsm-90 {
    padding-top: 90px;
  }
  .pt-xsm-100 {
    padding-top: 100px;
  }
  .pt-xsm-110 {
    padding-top: 110px;
  }
  .pt-xsm-120 {
    padding-top: 120px;
  }
  .pt-xsm-130 {
    padding-top: 130px;
  }
  .pt-xsm-140 {
    padding-top: 140px;
  }
  .pb-xsm-0 {
    padding-bottom: 0;
  }
  .pb-xsm-10 {
    padding-bottom: 10px;
  }
  .pb-xsm-20 {
    padding-bottom: 20px;
  }
  .pb-xsm-30 {
    padding-bottom: 30px;
  }
  .pb-xsm-40 {
    padding-bottom: 40px;
  }
  .pb-xsm-50 {
    padding-bottom: 50px;
  }
  .pb-xsm-60 {
    padding-bottom: 60px;
  }
  .pb-xsm-70 {
    padding-bottom: 70px;
  }
  .pb-xsm-80 {
    padding-bottom: 80px;
  }
  .pb-xsm-90 {
    padding-bottom: 90px;
  }
  .pb-xsm-100 {
    padding-bottom: 100px;
  }
  .pb-xsm-110 {
    padding-bottom: 110px;
  }
  .pb-xsm-120 {
    padding-bottom: 120px;
  }
  .pb-xsm-130 {
    padding-bottom: 130px;
  }
  .pb-xsm-140 {
    padding-bottom: 140px;
  }
}

/*-------------------------------------------------------*/
/* Styles for WordPress
/*-------------------------------------------------------*/
img {
  height: auto; }

.widget-title {
  margin-bottom: 28px; }

.widget {
  margin-bottom: 50px; }
  .widget:first-child {
    margin-top: 50px; }
  .widget ul li {
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea; }
  .widget ul li:last-child {
    padding-bottom: 0;
    border-bottom: none; }
  .widget ul li:first-child {
    padding-top: 0; }
  .widget .tagcloud a {
    display: inline-block;
    font-size: 12px !important;
    color: #929292;
    padding: 5px 8px;
    margin-bottom: 3px;
    background-color: #f5f5f5; }
    .widget .tagcloud a:hover {
      background-color: #000;
      color: #fff; }
  @media only screen and (max-width: 991px) {
    .widget {
      display: none; } }

/* Calendar */
#wp-calendar {
  width: 100%; }
  #wp-calendar th,
  #wp-calendar td {
    text-align: center; }
  #wp-calendar tbody td {
    line-height: 1; }
  #wp-calendar > tfoot > tr {
    border: 1px solid #eaeaea; }
  #wp-calendar > tfoot > tr > td {
    border: 0; }

/* Menu */
.widget_nav_menu .menu > li > a {
  font-weight: 600;
  display: block;
  padding: 10px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #eaeaea; }
  .widget_nav_menu .menu > li > a:first-of-type {
    padding-top: 0; }

/* Search */
.search-field {
  margin-bottom: 10px !important; }

.post-password-form label > input {
  margin-top: 5px; }

.post-password-form label + input,
.search-submit {
  line-height: 48px;
  font-size: 16px;
  padding: 0 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  border: none;
  background-color: #000;
  color: #fff; }

.search-submit {
  position: relative;
  top: 4px; }

/* Sticky Post */
.blog-content .sticky .entry-wrap {
  background-color: #fafafa;
  border: 1px solid #eaeaea; }

/*-------------------------------------------------------*/
/* Article styles
/*-------------------------------------------------------*/
.entry h1,
.entry h2,
.entry h3,
.entry h4,
.entry h5,
.entry h6 {
  margin-top: 1.4em; }

blockquote {
  margin: 30px 0; }

dt,
dd {
  padding: 10px 0;
  border-bottom: 1px solid #eaeaea; }

.entry ul {
  list-style: disc;
  padding-left: 20px; }

.entry ol {
  padding-left: 20px; }

.entry ul li,
.entry ol li {
  padding: 5px 0; }

/*-------------------------------------------------------*/
/* Tables
/*-------------------------------------------------------*/
table th {
  font-weight: normal; }

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  border: 1px solid #eaeaea;
  padding: 10px; }

table > thead > tr > th {
  border-bottom: none; }

table thead tr th {
  font-size: 12px;
  color: #212121;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em; }